<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541708131708-aidpg42crkm1h5236j0v4d140l8avrvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541708131708-aidpg42crkm1h5236j0v4d140l8avrvr</string>
	<key>API_KEY</key>
	<string>AIzaSyCeQUUUTswvCrzB3qNA9z42B10xM5MuR6s</string>
	<key>GCM_SENDER_ID</key>
	<string>541708131708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.revelCredits</string>
	<key>PROJECT_ID</key>
	<string>revel-credits</string>
	<key>STORAGE_BUCKET</key>
	<string>revel-credits.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541708131708:ios:41ee542183bd32751858f9</string>
</dict>
</plist>